
/* without any class or id  */
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');
*{

    box-sizing: border-box;
     font-family: "Inter", sans-serif;
}

body{
    margin: 0;
    background-color: #eee;
    font-family: Arial, Helvetica, sans-serif;
}

h1{

    background-color: white;
}
 
