.header {
  background-color: #33333331;
  width: 100%;
}

.header > div {
  width: 75%;
  background-color: rgba(255, 255, 255, 0.462);
  margin: 0px auto 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  border-radius: 3px;
}

.header .game-title {
  font-size: 20px;
  padding: 20px;
  font-weight: bold;
  cursor: pointer;
  text-shadow: 4px 1px 5px gray;
  box-shadow: 10px 1px 5px gray, -10px -1px 5px gray;
}

.header .logo {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.guess-game {
  text-align: center;
  margin: 20px auto;
  width: 1000px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.guess-game .game-area {
}

.guess-game .game-area .inputs > div {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.guess-game .game-area .inputs > div span {
  font-size: 30px;
  margin-right: 15px;
  font-weight: bold;
}
.guess-game .game-area .inputs > div.disabled-inputs {
  opacity: 0.5;
  cursor: no-drop;
}

.guess-game .game-area .inputs > div input {
  margin: 0px 5px;
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 55px;
  caret-color: var(--primary-color);
  background-color: white;
  border: none;
  border-bottom: 2px#333 solid;
  border-radius: 2px;
}
.guess-game .game-area .inputs > div input:focus {
  outline: none;
}
.guess-game .game-area .control {
  display: flex;
  gap: 10px;
}
.guess-game .game-area .control button {
  outline: none;
  border: none;
  padding: 15px 20px;
  border-radius: 10px;
  margin-left: 5px;
  cursor: pointer;
}
.guess-game .game-area .control button:disabled {
  background-color: black;
  opacity: 0.4;
  cursor: no-drop;
}
.guess-game .game-area .control .check {
  background-color: var(--primary-color);
  color: white;
  outline: none;
  border: none;
  flex: 1;
}
.guess-game .game-area .control .hint {
  width: fit-content;
  background-color: rgb(170, 245, 170);
}
.guess-game .game-area .inputs > div input.yes-in-place {
  background-color: green;
  border: green;
  color: white;
}
.guess-game .game-area .inputs > div input.not-in-place {
  background-color: rgba(235, 235, 17, 0.784);
  border: rgba(235, 235, 17, 0.784);
  color: white;
}
.guess-game .game-area .inputs > div input.wrong {
  background-color: rgba(240, 9, 21, 0.784);
  border: rgba(240, 9, 21, 0.784);
  color: white;
}
.guess-game .key-colors h2 {
  text-shadow: 4px 1px 5px gray;
  position: relative;
}

.guess-game .key-colors h2::after {
  content: "";
  position: absolute;
  transform: translate(-105px, 30px);
  width: 90px;
  border-bottom: 1px solid rgba(224, 222, 222, 0.611);
  background-color: rgba(255, 0, 0, 0.424);
}

.guess-game .key-colors .key-color {
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: white;
  margin-top: 10px;
}

.guess-game .key-colors .key-color .color {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  margin-right: 10px;
}

.guess-game .key-colors .key-color .color.in-place {
  background-color: green;
}

.guess-game .key-colors .key-color .color.not-inplace {
  background-color: rgba(235, 235, 17, 0.784);
}

.guess-game .key-colors .key-color .color.wrong {
  background-color: rgba(240, 9, 21, 0.784);
}

.guess-game .key-colors .key-color .color-text {
  font-size: 20px;
  font-weight: bold;
}
.guess-game .game-area .message {
  padding: 15px 20px;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0.261);
  color: white;
  width: 500px;
  height: 200px;
  position: absolute;
  bottom: 200px;
  right: 360px;
  border-radius: 10px;
  opacity: 0;
  transition: var(--transition-0-3);
}

.guess-game .game-area .message span {
  color: green;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 1px;
  border-bottom: 1px solid;
  padding: 2px;
}
.footer {
  text-align: center;
  padding: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #333333ea;
  color: white;
  width: 100%;
  font-weight: bold;
}

.footer::before {
  content: "";
  position: absolute;
  transform: translate(270px, 20px);
  width: 90px;
  border-bottom: 1px solid rgba(224, 222, 222, 0.611);
  background-color: red;
}
